/* RESET */
*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

/* CUSTOM PROPERTIES */
:root{
    /* palette */
    --black-col:#000000;
    --main-bg-col:#141922;
    --footer-bg-col:#282828;
    --text-col-sidebar: #646464;
    --white-col: #ffff;

    /* spaces */
    --header-height: 80px;
    --footer-height: 80px;
    --sidebar-width: 170px;
    --mobilebar-width: 70px;
    --main-width:calc(100% - var(--sidebar-width));
    --mobile-main-width:calc(100% - var(--mobilebar-width));
    --container-height:calc(100vh - var(--footer-height));
    --space-btw-albm: 1rem;

}

/* UTILITIES */

.flex{
    display: flex;
}

.clean{
    text-decoration: none;
    color: inherit;
}

.pd1{
    padding: 1rem;
}

.mrgn05-0{
    margin: 0.5rem 0;
}

.mrgn-rgt{
    margin: 0 0.5rem 0 0;
}

.mrgn-tp{
    margin-top: 0.5rem;
}

.mrgn1{
    margin: 1rem;
}

.mrgn0-1{
    margin: 0 1rem;
}

.mrgn1-0{
    margin: 1rem 0;
}

.fntsz06{
    font-size: 0.6rem;
}

.fntsz07{
    font-size: 0.7rem;
}

.fntsz08{
    font-size: 0.8rem;
}

.fntwg6{
    font-weight: 600;
}

.lnhgt1{
    line-height: 1rem;
}

.txal-ctr{
    text-align: center;
}

.vrtal-md{
    vertical-align: middle;
}

.vrtal-sb{
    vertical-align: sub;
}

.col-wht{
    color: var(--white-col);
}

.col-side-txt{
    color: var(--text-col-sidebar);
}

.col-foot-bg{
    background-color: var(--text-col-sidebar);
}

.brdrad-crcl{
    border-radius: 50%;
}



/* COMMON */

html{
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;;
}

img{
    max-width: 100%;
}

li{
    list-style-type: none;
}

h2, h4{
    color: var(--white-col);
    margin: 1rem 0;
}

h5{
    color:var(--text-col-sidebar);
}

p{
    margin-bottom: 1rem;
    color: var(--text-col-sidebar);
}

/* WRAPPER*/
.wrapper{
    width: 100%;
    height: 100vh;
}

/* CONTAINER */
.container{
    height:var(--container-height);
}

/* Sidebar */
.sidebar{
    width: var(--sidebar-width);
    height:var(--container-height);

    flex-direction: column;
    justify-content: space-between;

    background-color: var(--black-col);
    color: var(--text-col-sidebar);
}

.sidebar .create-pl img{
    height: 30px;
}
.sidebar .logo img{
    height: 32px;
}

.sidebar img{
    height: 20px;
    opacity: 0.5;
}

.sidebar li:hover img,
.sidebar .create-pl:hover img,
li:hover a,
a:not(.create-pl>a):hover,
i:hover {
    opacity: 1;
    color: white;
}

.sidebar .create-pl:hover a{
    color: var(--white-col);
}

/* Mobile sidebar */
    .mobile-bar{
        display: none;
        width:var(--mobilebar-width);
        height:var(--container-height);
        background-color: var(--black-col);
        color: var(--text-col-sidebar);
    }

    .mobile-bar img{
        height: 25px;
    }


/* Main-view */
.main-view{
    width: var(--main-width);
    flex-direction: column;
    overflow: auto;
    background-color: var(--main-bg-col);
}

/* header */
header{
    height: var(--header-height);
    width: var(--main-width);
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    flex-direction: row-reverse;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.60);
}

header .btn{
    margin-right: 2rem;
    padding: 0.5rem 2rem ;
    border: 2px solid var(--white-col);
    border-radius: 25px;
    display: inline-block;
}

header .btn:hover,
.sidebar .account:hover img{
    transform: scale(1.1);
}


/* album space */
.album-space{
    flex-direction: column;
}

.album-space .menu{
    justify-content: center;
    width: 100%;
    margin: 6rem 0 2rem;
}

.album-space .menu ul{
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center
}

.album-space .song-card{
    width: calc(100% / 6 - var(--space-btw-albm));
    margin-right: var(--space-btw-albm);
    margin-top: 1rem;
}

.song-card .cover{
    position: relative;
}

.song-card .ghost{
    position: absolute;
    transform: translate(-50%, -50%);    
    height: 50px;
    display: none;
}

.song-card:hover .ghost{
    display: block;
}


/* Footer PLAYER-BAR */

.player-bar{
    height: var(--footer-height);
    justify-content: space-between;
    align-items: center;
    background-color: var(--footer-bg-col);

    position: relative;  /*per non far sovrappore il testo della sidebar */
    z-index: 50;
}

.preview img{
    height: 50px;
}

.sx-side, .dx-side{
    width: 210px;
    align-items: center;
    gap: 0.9rem;
    font-size: 0.8rem;
}

.progress-bar{
    width: 40%;
}

footer .progress-bar .upper-bar{
    justify-content: center;
}

footer .progress-bar .lower-bar{
    align-items: center;
    justify-content: center;
}

.progress-bar .player{
    transform: scale(2);
}
.scl:hover{
    transform: scale(1.5);
}

.progress-bar .player:hover{
    transform: scale(2.5);
}

.progress-bar .duration{
    border-radius: 40px;
    background-color: var(--text-col-sidebar);
    width: 300px;
    height: 3px;
    position: relative;
}

.progress-bar .duration .already-played{
    border-radius: 40px;
    background-color: var(--white-col);
    width: 5%;
    height: 3px;
    position: absolute;
    left: 0;
}

.player-bar .dx-side .range{
    border-radius: 40px;
    background-color: var(--text-col-sidebar);
    width: 50%;
    height: 3px;
    position: relative;
}

.player-bar .dx-side .range .volume{
    border-radius: 40px;
    background-color: var(--white-col);
    width: 40%;
    height: 3px;
    position: absolute;
    left: 0;
}

