/* RESET */
*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

/* UTILITIES */

.flex{
    display: flex;
}

.clean{
    text-decoration: none;
    color: inherit;
}

/* COMMON */

html{
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;;
}

img{
    max-width: 100%;
}

li{
    list-style-type: none;
}

/* WRAPPER*/

.wrapper{
    height: 100vh;
}

/* CONTAINER */

.container{
    height:calc(100vh - 80px);
    

    /* debug */
    background-color: teal;
}

/* Sidebar */

.sidebar{
    width: 170px;
    height:calc(100vh - 80px);

    flex-direction: column;
    justify-content: space-between;
    

    /* debug */
    background-color: red;
}

/* Main-view */

.main-view{
    width: calc(100% - 170px);
    flex-direction: column;
    overflow: auto;
    
    /* debug */
    background-color: yellowgreen;
}

.album-space{
    flex-direction: column;
}

.album-space .menu{
    justify-content: center;
    width: 100%;
    margin: 6rem 0 2rem;
}

.album-space .row{
    /* debug */
    border: 1px red solid;
    margin: 1rem; 
}

.album-space.col{
    /* debug */
    border: 1px blue solid; 
}

.album-space .song-card{
    /* debug */
    background-color: pink;
    margin: 1rem;
    width: calc(100vh / 6);
}

/* header */

header{
    height: 80px;
    width: calc(100% - 170px) ;
    position: fixed;
    top: 0;
    right: 0;
    flex-direction: row-reverse;

    /* debug */
    background-color: rgba(0, 0, 255, 0.326);
}




/* Player-bar */

.player-bar{
    height: 80px;
    justify-content: space-between;
    align-items: center;
    /* debug */
    background-color: aquamarine;

}

.preview img{
    height: 50px;
}


